# ---------------------------
# OS files
# ---------------------------
[Tt]humbs.db
*.DS_Store

# ---------------------------
# Back-up files 
# ---------------------------
~*.*

# ---------------------------
# Visual Studio
# ---------------------------
.vs
bin
obj
*.suo

# ---------------------------
# count # executions to gage activity
# ---------------------------
/_countLog.txt

# ---------------------------
# SORT folder
# ---------------------------
__SORT__

# ---------------------------
# temporary files for processing
# ---------------------------
Data/MC6x09/MC6x09b.xml
