# ---------------------------
# OS files
# ---------------------------
[Tt]humbs.db
*.DS_Store

# ---------------------------
# Back-up files 
# ---------------------------
~*.*

# ---------------------------
# Visual Studio
# ---------------------------
.vs
bin
obj
*.suo

# ---------------------------
# count # executions to gage activity
# ---------------------------
/_countLog.txt

# ---------------------------
# Wizard folder
# ---------------------------
__SORT__

# ---------------------------
# Wizard folder
# ---------------------------
__wiz__
