# ---------------------------
# OS files
# ---------------------------
[Tt]humbs.db
*.DS_Store

# ---------------------------
# Back-up files 
# ---------------------------
~*.*

# ---------------------------
# Visual Studio
# ---------------------------
.vs
bin
obj
*.suo
C#/Retro.NET/Retro.NET.csproj.user

# ---------------------------
# count # executions to gage activity
# ---------------------------
/_countLog.txt

# ---------------------------
# SORT folder
# ---------------------------
__SORT__

# ---------------------------
# Experimenting w/ Python ... 
# ---------------------------
Python

# ---------------------------
# temporary files for processing
# ---------------------------
Data/MC6x09/MC6x09b.xml
Data/MC680x/MC680xb.xml

